<mat-card [style.box-shadow]="'none'">
  <mat-card-header [style.justify-content]="'center'" class="mb-4 text-center">
    <mat-card-title data-cy="reset-password-page-title" class="uppercase text-center">Reset your password</mat-card-title>
    <mat-card-subtitle>
      <div *ngIf="isInvalidDigest" class="text-warn">
        This link is invalid. Click <a routerLink="/auth/password-recovery"><strong>here</strong></a> to reset your password.
      </div>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <mat-error data-cy="password-wrong" *ngIf="error">Current password is not correct.</mat-error>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="isFormVisible" [formGroup]="resetForm" validate (ngSubmit)="submit()" class="form-horizontal form-material" id="resetForm">
      <mat-form-field *ngIf="withoutDigest">
        <input data-cy="current-password" matInput required formControlName="current_password" (input)="onChangeInput()" name="current_password" type="password" placeholder="Current Password" />
        <mat-error *ngIf="form.current_password.hasError('required') && !form.current_password.pristine">
          Password is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input data-cy="new-password" matInput required formControlName="password" (input)="onChangeInput()" name="password" type="password" placeholder="New Password" />
        <mat-error *ngIf="form.password.hasError('required') && !form.password.pristine">
          Password is required.
        </mat-error>
        <mat-error *ngIf="form.password.hasError('minlength') && !form.password.pristine">
          Password must contain at least 6 characters.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mt-2">
        <input data-cy="confirm-password" matInput required formControlName="confirm" (input)="onChangeInput()" name="confirm" type="password" placeholder="Confirm Password" />
        <mat-error *ngIf="form.confirm.hasError('required') && !form.confirm.pristine">
          Confirm is required.
        </mat-error>
        <mat-error *ngIf="form.confirm.hasError('match') && !form.confirm.pristine">
          Password and Confirm Password must match.
        </mat-error>
      </mat-form-field>

      <div class="mt-5 mb-0">
        <div fxLayout fxLayoutAlign="center">
          <button data-cy="reset-button" type="submit" [disabled]="!resetForm?.valid" mat-flat-button color="accent" class="uppercase btn-soft">Reset Password</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
