<mat-card [style.box-shadow]="'none'">
  <div *ngIf="magicLinkProgress">
    <mat-card-header [style.justify-content]="'center'" class="mb-4 text-center">
      <mat-card-title class="uppercase">Signing in...</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutGap="16px">
      <mat-progress-spinner mode="indeterminate" diameter="40" [style.margin]="'0 auto'"></mat-progress-spinner>
    </mat-card-content>
  </div>
  <form [formGroup]="signInForm" id="signin" class="form-material" *ngIf="!magicLinkProgress">
    <mat-card-header [style.justify-content]="'center'" class="mb-4 text-center">
      <mat-card-title class="uppercase">Abdullah Developers</mat-card-title>
      <mat-card-subtitle>
        <div *ngIf="alertText" class="text-warn text-center alert-text">{{ alertText }}</div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutGap="16px">
      <mat-form-field class="email">
        <input matInput autocomplete="off" id="loginEmail" placeholder="Email" name="email" formControlName="email" />
        <mat-error *ngIf="form.email.hasError('email') && !form.email.hasError('required')">
          Please enter a valid email address.
        </mat-error>
        <mat-error *ngIf="form.email.hasError('required')">
          Email is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="password">
        <input matInput id="password" placeholder="Password" type="password" name="password" formControlName="password" />
        <mat-error *ngIf="form.password.hasError('required')">
          Password is required.
        </mat-error>
      </mat-form-field>

      <!-- <div fxLayout fxLayoutAlign="space-between start" fxLayoutGap="8px">
        <mat-checkbox formControlName="rememberMe" class="remember-me">Remember me</mat-checkbox>
        <a routerLink="/auth/password-recovery" id="to-recover" class="pull-right forgot-password">
          <span (click)="forgetPassword($event)"><strong>Forgot your password?</strong></span>
        </a>
      </div> -->
<!-- 
      <mat-form-field>
        <mat-label>Application</mat-label>
        <mat-select formControlName="projectId" required>
          <mat-option *ngFor="let item of projects" [value]="item">
            {{ item.details.title }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <div fxLayout fxLayoutAlign="center" class="mt-5">
        <button
          data-cy="login-btn"
          type="submit"
          [disabled]="!signInForm.valid || loginInProgress"
          mat-flat-button
          color="accent"
          class="uppercase btn-soft login-button"
          (click)="signIn()"
        >
          Sign In
        </button>
      </div>

      <!-- <div class="mb-0" fxLayout fxLayoutAlign="center">
        <div fxLayoutGap="8px">
          <span>Don't have an account?</span>
          <a routerLink="/auth/register" class="register-link">
            <span (click)="signUp($event)"><strong>Register</strong></span>
          </a>
        </div>
      </div> -->
    </mat-card-content>
  </form>
</mat-card>
