.dashboard-sidebar.right-side-toggle {
  position: fixed;
  top: 55%;
  right: 0px;
  padding: 25px;
  z-index: 1101;
  width: 35px;
  height: 35px;
  font-size: 14px;

  i {
    -webkit-animation-name: none;
    animation-name: none;
    font-size: 20px;
    top: 16px;
    left: 16px;
  }
}

.page-titles {
  background: #fff;
  position: relative;
  z-index: 10;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}

.align-self-center {
  align-self: center;
}

@media (min-width: 768px) {
  .page-titles .breadcrumb {
    float: right;
  }
}

.page-titles .breadcrumb {
  padding: 0;
  background: 0 0;
  font-size: 14px;
}

.breadcrumb {
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.page-titles .breadcrumb li {
  margin-top: 0;
  margin-bottom: 0;
}

.page-titles .breadcrumb .breadcrumb-item.active {
  color: #99abb4;
}

ol li {
  margin: 5px 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

.page-titles .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: '\f105';
  font-family: FontAwesome;
  color: #a6b7bf;
  font-size: 11px;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #6c757d;
  content: '/';
}

.register-banner {
  cursor: pointer;
}

.tooltip-content5 {
  top: 140%;
}
.tooltip-text3 {
  border-top: 10px solid #1976d2;
  border-bottom: 0px;
}
.tooltip-content5::after {
  bottom: 0px;
  border-bottom-color: #1976d2;
  z-index: 1;
  border-top-color: transparent;
}
.tooltip-inner2 {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: #99abb4;
}
