.check-box-label {
  margin-top: -2px;
  margin-left: 10px;
}
.check-box {
  display: inline-block;
}
.check-box-label-control {
  display: flex;
  flex-wrap: nowrap;
}
.info-icon {
  margin-left: 5px;
}
