<div class="dialog-container">
  <div class="close-container">
    <mat-icon class="close-icon" (click)="close()">close</mat-icon>
  </div>
  <app-register
    (triggerSignin)="onTriggerSignin()"
    (triggerForgetPassword)="onTriggerForgetPassword()"
    (registerSuccess)="onRegisterSuccess()"
    [isDialog]="true"
    [hideLogin]="data.hideLogin"
    [infoMessage]="data.infoMessage"
    [email]="data.email"
    [hideLawyerSignup]="data.hideLawyerSignup"
    [registeredFrom]="data.registeredFrom"
  ></app-register>
</div>
