<h2 mat-dialog-title>
  {{ 'Reset Password' }}
</h2>

<div mat-dialog-content>
  <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">
    <div fxLayoutGap="10px">
      <mat-form-field>
        <input type="password" matInput [placeholder]="'Password'" formControlName="password" />
        <mat-error *ngIf="fg.get('password').hasError('required')">Password is required. </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input type="password" matInput [placeholder]="'Confirm Password'" (keyup)="isEqual()" formControlName="confirmPassword" />
        <mat-error *ngIf="fg.get('confirmPassword').hasError('required')">Confirm Password is required </mat-error>
        <mat-error *ngIf="fg.get('confirmPassword').hasError('not-equal')"> Password did not match</mat-error>
      </mat-form-field>
    </div>

    <div fxLayoutAlign="end" style="padding-bottom: 2px;" fxLayoutGap="8px">
      <button class="btn-soft" mat-flat-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
      <a class="btn-soft" mat-flat-button (click)="onDismiss()" color="accent">Close</a>
    </div>
  </form>
</div>
