:host {
	position: relative;
	font-size: 0.80rem;
	width: auto;
	line-height: 1.3;
	li {
		margin-top: 5px;
		display: inline-block;
		color: #f93749;
	}
	&.floating-error-msg{
		float: left;
		width: 300px;
	}
}

ul {
  margin: 0;
  padding: 0;
}
